<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>__LABEL__</string>
  <key>Disabled</key>
  <true/>
  <key>Program</key>
  <string>__PYTHON_PATH__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__PYTHON_PATH__</string>
    <string>-m</string>
    <string>codex_work_scheduler</string>
    <string>--config</string>
    <string>__CONFIG_PATH__</string>
    <string>service</string>
    <string>run</string>
  </array>
  <key>WorkingDirectory</key>
  <string>__REPOSITORY_PATH__</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>__CODEX_BIN_DIR__:/usr/bin:/bin:/usr/sbin:/sbin</string>
    <key>PYTHONUNBUFFERED</key>
    <string>1</string>
  </dict>
  <key>KeepAlive</key>
  <dict>
    <key>SuccessfulExit</key>
    <false/>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>60</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>ExitTimeOut</key>
  <integer>30</integer>
  <key>Umask</key>
  <integer>63</integer>
  <key>StandardOutPath</key>
  <string>__STDOUT_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__STDERR_PATH__</string>
</dict>
</plist>
